body {
    padding: 0;
    margin: 0;
    background: url(tech1.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box; 
}

.header {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -25%);
    width: 80%;
    height: 80%;
    padding: 60px 50px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.header h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

.header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;

}

.header p {
    font-family: Lucida Calligraphy;
    font-size: 28px;
}