body{
	margin: 0;
	padding: 0;
	background-image: url(img1.jpg);
	background-size: cover;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
}
.login-page{
	width: 350px;
	padding: 15%;
	margin: auto;
	color: dimgrey;

}

form{
	position: relative;
	z-index: 1;
	background: rgba(0, 0, 0, .6);
	max-height: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	border: none;
	outline: none;
	height: 40px;
	background: #ffffff;
	width: 100%;
	font-family: "times new roman";
    border-radius: 20px;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 15px;
	cursor: pointer;
}
	
.form button {
	
	border: none;
	outline: none;
	height: 40px;
	width: 100%;
	background: #ffffff;
	color: #000;
	font-size: 22px;
	font-family: times new roman;
	border-radius: 20px;
}

















