body{
	background-image: /*linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),*/url(edu.jpg);
	height: 100px;
	background-size: cover;
	background-position: center;
}
.login-page{
	width: 350px;
	padding: 15%;
	margin: auto;
	
}

form{
	position: relative;
	z-index: 1;
	background:#808080;
	max-height: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "lucida calligraphy";
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 15px;
	cursor: pointer;
}
	



















/**/